alembic==1.7.5
async-generator==1.10
blinker==1.4
click==8.0.3
Flask==2.0.2
Flask-DebugToolbar==0.11.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
Glask==0.0.23
greenlet==1.1.2
h11==0.12.0
importlib-resources==5.4.0
inflection==0.5.1
itsdangerous==2.0.1
Mako==1.1.6
outcome==1.1.0
psycopg2==2.9.2
pyOpenSSL==21.0.0
selenium==4.1.0
sniffio==1.2.0
sortedcontainers==2.4.0
SQLAlchemy==1.4.28
trio==0.19.0
trio-websocket==0.9.2
Werkzeug==2.0.2
wsproto==1.0.0
WTForms==3.0.0
