*{
    box-sizing: border-box;
}

nav{
    margin-bottom: 20px;
    text-shadow: 3px 5px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: -1px 6px 13px 0px rgba(255, 255, 255, 0.44);
    -moz-box-shadow: -1px 6px 13px 0px rgba(255, 255, 255, 0.44);
    box-shadow: -1px 6px 13px 0px rgba(255, 255, 255, 0.44);
}

h1{
    font-family: condiment, Arial, Helvetica, sans-serif;
    font-size:4vw;
    text-shadow: 2px 2px 2px rgba(255,255,255,0.6);
}

#mobile-nav{
    text-shadow: 3px 5px 3px rgba(0,0,0,0.6);
}

nav li>a{
    font-family: iceberg, Arial, Helvetica, sans-serif;    
    font-size: 1.4rem;
    color: white; 
}

nav li>a:hover{
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.sidenav li>a{
    font-family: iceberg, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: white;
}

.sidenav li>a:hover{
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.brand-logo img{
    height: auto;
    width: auto;
    max-height: 50px;
    margin-left: 20px;
    margin-top: 10px;
}

#title{
    font-family: condiment, Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgba(255,255,255);
    position: absolute;
    left: 100px;
}

.container{   
    padding: 50px 30px;
    margin-top: -20px;
    margin-bottom: -20px;
    font-family: iceberg, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    border-radius: 5px;
    width: 95%;
    height: 95%;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    -webkit-box-shadow: -1px 6px 13px 0px rgba(255, 255, 255, 0.44);
    -moz-box-shadow: -1px 6px 13px 0px rgba(255, 255, 255, 0.44);
    box-shadow: -1px 6px 13px 0px rgba(255, 255, 255, 0.44);
}

.card-content{
    overflow: auto !important;
}

.modal-content{
    color: white;
    font-family: iceberg, Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.tooltipped{
    margin-top: 5px;
    margin-bottom: 100px;
}

.material-tooltip{
    max-width: 30%;
    -webkit-box-shadow: -1px 6px 13px 0px rgba(255, 255, 255, 0.44);
    -moz-box-shadow: -1px 6px 13px 0px rgba(255, 255, 255, 0.44);
    box-shadow: -1px 6px 13px 0px rgba(255, 255, 255, 0.44);
    border-radius: 15px !important;
    font-family: iceberg, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.card-title{
    font-size:3rem !important;
    font-family: condiment, Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.btn{
    font-family: iceberg, Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.workout-card{
    font-family: iceberg, Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.exercises-card{
    margin-bottom: 70px;
    font-family: iceberg, Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px rgb(0, 0, 0); 
    padding: 10px !important;
    border-radius: 15px !important;
    -webkit-box-shadow: -1px 6px 13px 0px rgba(255, 255, 255, 0.44);
    -moz-box-shadow: -1px 6px 13px 0px rgba(255, 255, 255, 0.44);
    box-shadow: -1px 6px 13px 0px rgba(255, 255, 255, 0.44);
}

.add-exercise-cell{
    font-size:1.25vw;
    border-radius: 10px;
    border: 2px;
    border-style: groove;
}

.added-exercise{
    margin-bottom: 0px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px;
    border-style: groove;
}

.card{
    padding-top: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 15px !important;
    overflow:hidden;
    -webkit-box-shadow: -1px 6px 13px 0px rgba(255, 255, 255, 0.44);
    -moz-box-shadow: -1px 6px 13px 0px rgba(255, 255, 255, 0.44);
    box-shadow: -1px 6px 13px 0px rgba(255, 255, 255, 0.44);
}

.flash{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    font-family: condiment, Arial, Helvetica, sans-serif;
    font-size:2rem;
    border-radius: 5px;
    width: 50%;
    -webkit-box-shadow: -1px 6px 13px 2px rgba(255, 255, 255, 0.44);
    -moz-box-shadow: -1px 6px 13px 2px rgba(255, 255, 255, 0.44);
    box-shadow: -1px 6px 13px 2px rgba(255, 255, 255, 0.44);
    text-shadow: 1px 1px #000000;
}

.flash-container{
    text-align: center;
    position: relative;
}

body{
    background: url('../images/get_strong_background.jpg') ;
    background-position: center center;
    background-repeat: no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.92;
    min-height: 100vh;
}

input.select-dropdown.dropdown-trigger{
    color: white; 
}

.footer-copyright{
    padding-inline: 50px !important;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

@media (max-width: 400px){
    .footer-copyright a{
        display: none;
    }
}

@media (max-width: 600px){
    #title{
        display: none;
    }
    .container{
        padding: 10px;
    }
    .material-tooltip{
        max-width: 90%;
    }
    .add-exercise-cell{
        font-size:1rem;
    }
}

@media (max-width: 1200px){
    .brand-logo img{
        display: none !important;
    }
    h1{
        font-size:3.5rem;
    }
    .material-tooltip{
        max-width: 50%;
    }
    .add-exercise-cell{
        font-size:1.5rem;
    }
    
}