* {
    box-sizing: border-box;
}

nav {
    text-shadow: 3px 5px 3px rgba(0,0,0,0.6);
}

#mobile-nav {
    text-shadow: 3px 5px 3px rgba(0,0,0,0.6);
}

nav li>a{
    font-family: iceberg;    
    font-size: 1.4rem;
    color: white; 
}

nav li>a:hover{
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.sidenav li>a {
    font-family: iceberg;
    font-size: 2rem;
    color: white;
}

.brand-logo img {
    height: auto;
    width: auto;
    max-height: 40px;
    margin-right: 20px;
    margin-top: 5px;
}

#title {
    font-family: condiment;
    text-shadow: 1px 1px 2px rgba(255,255,255);
    color: #3B413C !important;
    position: absolute;
    right: 100px;
}