{% extends "base.html" %}
{% block content %}
<div class="row">
    <h1 class="white-text">Logged in as: {{ username }}</h1>
</div>
<section>
    <div class="container white-text">
        <div class="col s12 m6">
            <div class="card hoverable blue-grey darken-1">
                <div class="card-content white-text">
                    <h1 class="form-header">Add Workout</h1>
                    <form method="POST" action="{{ url_for('add_workout') }}">
                        {{ add_workout_form.hidden_tag() }}
                        <div class="row">
                            <div class="input-field col s6">
                                {{ add_workout_form.workout_name(class="validate") }}
                                <label for="workout_name">Workout Name:</label>
                                <span class="helper-text" data-error="wrong" data-success="right"></span>
                            </div>
                        </div>
                        <div class="exercise_wrapper">
                            <div id="exercise_row_1" class="row exercise-row">
                                <div class="input-field col m3 s6">
                                    {{ add_workout_form.exercise_name(class="validate") }}
                                    <label for="exercise">Exercise 1</label>
                                </div>
                                <div class="input-field col m3 s6">
                                    {{ add_workout_form.sets(class="validate") }}
                                    <label for="sets">Sets:</label>
                                </div>
                                <div class="input-field col m3 s6">
                                    {{ add_workout_form.reps(class="validate") }}
                                    <label for="reps">Reps:</label>
                                </div>
                                <div class="input-field col m3 s6">
                                    {{ add_workout_form.weight(class="validate") }}
                                    <label for="Weight(kg):">Weight(kg):</label>
                                </div>
                            </div>
                        </div>

                        {% for x in range(2, 11, 1) %}
                            <div id="exercise_row_{{ x }}" class="row exercise-row">
                                <div id="exercise_{{ x }}" class="input-field col m3 s6">
                                    {{ add_workout_form.exercise_name(class="validate") }}
                                    <label for="Exercise {{ x }}">Exercise {{ x }}:</label>
                                </div>
                                <div id="sets_{{ x }}" class="input-field col m3 s6">
                                    {{ add_workout_form.sets(class="validate") }}
                                    <label for="sets_{{ x }}">Sets:</label>
                                </div>
                                <div id="reps_{{ x }}" class="input-field col m3 s6">
                                    {{ add_workout_form.reps(class="validate") }}
                                    <label for="reps_{{ x }}">Reps:</label>
                                </div>
                                <div id="weight_{{ x }}" class="input-field col m3 s6">
                                    {{ add_workout_form.weight(class="validate") }}
                                    <label for="Weight_{{ x }} (kg):">Weight(kg):</label>
                                </div>
                            </div>
                        {% endfor %}

                        <a href="javascript:void(0);" class="add_button" title="Add field">
                            <i class="fas fa-plus-circle"></i>
                        </a>

                        <div class="row">
                            <div class="input-field col s12">
                                {{ add_workout_form.comments }}
                                <label for="comments">Comments:</label>
                            </div>
                        </div>
                        <button type="submit" class="btn-large orange-btn">Add workout</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}