{% extends "base.html" %}
{% block content %}
<div class="row">
    <h1 class="white-text">Logged in as: {{ username }}</h1>
</div>
<section>
    <div class="container white-text">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <h1 class="form-header">Add Workout</h1>
                    <form method="POST" action="{{ url_for('add_workout') }}">
                        {{ add_workout_form.csrf_token }}
                        <div class="row">
                            <div class="input-field col s6">
                                {{ add_workout_form.workout_name }}
                                <label for="workout_name">Workout Name:</label>
                            </div>
                        </div>
                        <div class="row exercise-row">
                            <div class="input-field col m3 s6">
                                {{ add_workout_form.exercise_name(class="validate") }}
                                <label for="exercise"></label>
                            </div>
                            <div class="input-field col s12">
                                <select>
                                    <option value="exercises" disabled selected>Choose an Exercise</option>
                                    {% for exercise in exercises %}
                                        <option value="1">Option 1</option>
                                    {% endfor %}
                                </select>
                            <label for="exercise">Materialize Select</label>
                            </div>
                            <div class="input-field col m3 s6">
                                {{ add_workout_form.sets(class="validate") }}
                                <label for="sets">Sets:</label>
                            </div>
                            <div class="input-field col m3 s6">
                                {{ add_workout_form.reps(class="validate") }}
                                <label for="reps">Reps:</label>
                            </div>
                            <div class="input-field col m3 s6">
                                {{ add_workout_form.weight(class="validate") }}
                                <label for="Weight(kg):">Weight(kg):</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                {{ add_workout_form.comments }}
                                <label for="comments">Comments:</label>
                            </div>
                        </div>
                        <button type="submit" class="btn-large orange-btn">Add workout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}