{% extends "base.html" %}
{% block content %}
<div class="row">
    <form method="POST" class="col s10 offset-s1 m8 offset-m2 l6 offset-l3" action="{{ url_for('login') }}">
        {{ login_form.csrf_token }}
        <div class="card-panel">
            <h1 class="center">Login</h1><br>
            <div class="row">
                <div>{{ render_field(login_form.email, placeholder=login_form.email.label.text) }}</div>
            </div>
            <div class="row">
                <div>{{ render_field(login_form.password, placeholder=login_form.password.label.text) }}</div>
            </div>
            <div class="row">
                <button type="submit" class="btn waves-effect waves-light blue-grey darken-3 z-depth-3 col s6 offset-s3" name="action">
                    Submit <i class="fas fa-paper-plane prefix"></i>
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}