{% extends "base.html" %}
{% block content %}
<div class="row">
    <form method="POST" class="col s12 m10 offset-m1 l8 offset-l2" action="{{ url_for('login') }}">
        {{ login_form.csrf_token }}
        <div class="card-panel">
            <h1 class="center">Login</h1><br>
            <div class="row">
                <div>{{ render_field(login_form.email, placeholder=login_form.email.label.text) }}</div>
            </div>
            <div class="row">
                <div>{{ render_field(login_form.password, placeholder=login_form.password.label.text) }}</div>
            </div>
            <div class="row">
                <button type="submit" class="btn waves-effect waves-light blue-grey darken-3 z-depth-3 col s6 offset-s3" name="action">
                    Login <i class="fas fa-paper-plane prefix"></i>
                </button>
            </div>
            <div class="row">
                <div class="col s-12 m10 offset-m3 l8 offset-l3 blue-grey-text text-darken-3">
                    Not Registered yet??
                    <a class="deep-orange-text text-accent-3 " href="{{ url_for('register') }}">Sign up</a>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}