{% extends "base.html" %}
{% block content %}
<div class="row">
    <form method="POST" class="col s12 m8 offset-m2 l6 offset-l3" action="">
        {{ edit_user_form.hidden_tag() }}
        <div class="card-panel">
            <h1 class="center">Edit {{ current_user.username }}</h1><br>
            <div class="row">
                <div>{{ render_field(edit_user_form.username, value=user.username) }}</div>
            </div>
            <div class="row">
                <div>{{ render_field(edit_user_form.email, value=user.email) }}</div>
            </div>
            <div class="row">
                <div class="input-field col s10 offset-s1">
                  <input id="password" type="password" maxlength="30" minlength="8" class="validate">
                  <label for="password">Password (Optional)</label>
                  <span class="helper-text" data-error="must be between 8-30 characters long" data-success="Valid Password">8-30 characters</span>
                </div>
              </div>
            <div class="row">
                <button type="submit" class="btn waves-effect waves-light blue-grey darken-3 z-depth-3 col s6 offset-s3" name="action">
                    Submit Changes<i class="fas fa-paper-plane"></i>
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
