{% extends "base.html" %}
{% block content %}
<div class="row">
    <form method="POST" class="col s12 m8 offset-m2 l6 offset-l3" action="{{ url_for('register') }}">
        {{ registration_form.hidden_tag() }}
        <div class="card-panel">
            <h1 class="center">Register</h1><br>
            <div class="row">
                <div>{{ render_field(registration_form.username, placeholder=registration_form.username.label.text) }}</div>
            </div>
            <div class="row">
                <div>{{ render_field(registration_form.email, placeholder=registration_form.email.label.text) }}</div>
            </div>
            <div class="row">
                <div>{{ render_field(registration_form.password, placeholder=registration_form.password.label.text) }}</div>
            </div>
            <div class="row">
                <button type="submit" class="btn waves-effect waves-light blue-grey darken-3 z-depth-3 col s6 offset-s3" name="action">
                    Register <i class="fas fa-user-plus"></i>
                </button>
            </div>
            <div class="row">
                <div class="col s12 blue-grey-text text-darken-3 center">
                    Already Registered??
                    <a class="deep-orange-text text-accent-3 " href="{{ url_for('login') }}">Login</a>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
